h3 {
	padding-top: 1em;
	padding-bottom: 0.5em;
	color: var(--color-orange) !important;
	font-size: 1.5em !important;
}

article li {
	color: var(--color-white) !important;
}

article ul {
	padding-left: 0px;
}
