label {
	color: var(--color-white);
	padding-right: 1em;
	width: 6em;
	vertical-align: top;
}

.form {
	padding-top: 1em;
}

input:not(#submit),
textarea {
	width: 66%;
}

textarea {
	height: 10em;
}

@media (width <= 750px) {
	section {
		margin: 0 5% !important;
	}

	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	label,
	input,
	textarea {
		min-width: 100%;
	}
}
