section {
	margin: 0 5% !important;
}

@media (width <= 1350px) {
	.card {
		width: 33% !important;
	}
}

@media (width <= 1100px) {
	.card {
		width: 80% !important;
	}
}

h3 {
	padding-top: 0.5em;
	color: var(--color-black) !important;
	font-size: 2em !important;
}

h4 {
	color: var(--color-black) !important;
	font-size: 1em !important;
}

.card {
	background-color: var(--color-bg-orange) !important;
}

.card p {
	margin-top: 1em;
	font-size: 1em !important;
	color: var(--color-white) !important;
	padding-bottom: 1em;
}

.card a {
	text-decoration: underline !important;
}

.card ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	gap: 3em;
	margin-top: 1em;
	padding: 0;
}

.card li {
	display: flex;
	justify-content: center;
	align-items: center;
}
