@font-face {
	font-family: retroFont;
	src: url("/font/Retro Gaming.ttf");
}

:root {
	--color-bg-orange: rgba(192, 86, 0, 1);
	--color-orange: #f06c00;
	--color-red: #ff2121;
	--color-black: #111111;
	--color-dark: #303030;
	--color-white: #c9c9c9;
}

* {
	font-family: retroFont;
}

body {
	background-color: var(--color-dark) !important;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	background-color: var(--color-bg-orange);
	justify-content: end;
	padding-top: 20px;
	padding-right: 20px;
	border-bottom: 1px solid var(--color-black);
}

footer {
	display: flex;
	background-color: var(--color-bg-orange);
	padding-top: 20px;
	padding-right: 20px;
}

ul {
	list-style: none;
}

header ul,
footer ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3em;
}

footer ul {
	width: 100%;
}

li {
	color: var(--color-black) !important;
}

a {
	text-decoration: none !important;
	color: var(--color-black) !important;
}

a:hover {
	color: var(--color-white) !important;
}

h1 {
	color: var(--color-red) !important;
	font-size: 3em !important;
}

h2 {
	color: var(--color-orange) !important;
	padding-top: 1em;
}

p {
	color: var(--color-white) !important;
}

section {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 1em 0em 5em 0em;
	margin: 0 15% !important;
}

@media (width <= 600px) {
	header {
		justify-content: center;
	}

	header li {
		float: left;
		width: 45%;
	}

	h1 {
		font-size: 2em !important;
	}

	section {
		margin: 0 5% !important;
	}
}

main {
	flex: 1;
}

section:not(:last-child) {
	border-bottom: 2px solid var(--color-white);
}

h2 a {
	color: var(--color-white) !important;
}

h2 a:hover {
	color: var(--color-orange) !important;
}
